/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    --hue-color: 220;
    --regular: 400;
    --bold: 700;
    /*========== Colors ==========*/
    --first-color: hsl(var(--hue-color), 100%, 37%);
    --first-color-alt: hsl(calc(var(--hue-color) - 22), 23%, 89%);
    --first-color-light: hsl(calc(var(--hue-color) + 10), 14%, 97%);
    --first-beige: hsl(calc(var(--hue-color) - 131), 100%, 97%);
    --first-hover: hsl(var(--hue-color), 100%, 14%);
    --gray-headline: hsl(calc(var(--hue-color) + 40), 11%, 15%);
    --gray-paragraph: hsl(calc(var(--hue-color) + 40), 9%, 31%);
    --white: hsl(0, 0%, 93%);
    --scroll-bar-bg: hsl(var(--hue-color), 10%, 80%);
    --title-color: hsl(0, 0%, 22%);
    --text-color: hsl(0, 0%, 44%);
    --text-color-light: hsl(0, 0%, 66%);
    --body-color: hsl(160, 60%, 99%);
    --container-color: hsl(0, 100%, 100%);
    --wave-color: linear-gradient( 60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes ==========*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
     :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}


/*========== Variables Dark theme ==========*/

body.dark-theme {
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 10%, 80%);
    --body-color: hsl(var(--hue-color), 15%, 15%);
    --container-color: hsl(calc(var(--hue-color) + 10), 5%, 7%);
    --wave-color: linear-gradient(calc(var(--hue-color) + 10), 5%, 7%);
}


/*========== Button Dark/Light ==========*/

.change-theme {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}


/*========== BASE ==========*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*========== REUSABLE CLASS CSS ==========*/

.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}


/*========== BUTTONS ==========*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}


/*========== LAYOUT ==========*/

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


/*========== NAV ==========*/

.nav {
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    padding: 2ch;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: 0.4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav-item {
    margin-bottom: var(--mb-2);
}

.nav-link,
.nav-logo,
.nav-toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav-logo:hover,
.nav-link:hover {
    color: var(--first-color);
}

.nav-link {
    transition: 0.3s;
}

.nav-toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--first-color);
}


/* Show menu */

.show-menu {
    top: var(--header-height);
}


/* Active link */

.active-link {
    color: var(--first-color);
}


/* Change background header*/

.scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}


/* Scroll top */

.scroll-top {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    background-color: var(--first-color-light);
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    visibility: hidden;
}

.scroll-top:hover {
    background-color: var(--first-color-alt);
}

.scroll-top-icon {
    font-size: 1.8rem;
    color: var(--body-color);
}


/* Show Scroll top */

.scroll-active {
    visibility: visible;
    bottom: 1.5rem;
}


/*========== blog ==========*/


/*
.blog {
    background: linear-gradient( 14deg, rgba(2, 0, 36, 1) 0%, rgba(51, 54, 174, 1) 31%, rgba(12, 17, 58, 1) 61%, rgba(0, 212, 255, 1) 100%);
}*/

.blog-container {
    height: 100vh;
    align-items: center;
}

.blog-title {
    font-size: var(--biggest-font-size);
    color: var(--white);
}

.blog-subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
    margin-top: revert;
}

.blog-img {
    width: 300px;
    justify-self: center;
}


/*----------wave*/

.header {
    position: relative;
    text-align: center;
    background: var(--wave-color);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*========== back ==========*/

.back-data {
    text-align: center;
}

.back-description {
    margin-bottom: var(--mb-3);
}

.back-img {
    width: 280px;
    border-radius: 0.5rem;
    justify-self: center;
}


/*========== front ==========*/

.front-container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.front-content {
    text-align: center;
}

.front-img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}

.front-title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.front-description {
    padding: 0 1.5rem;
}


/*========== MENU ==========*/

.menu-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.menu-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
    padding: 0.75rem;
}

.menu-img {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.75rem;
    position: relative;
    height: 100%;
    align-self: center;
    margin-bottom: var(--mb-2);
    background-color: var(--first-color-light);
}

.menu-name,
.menu-price {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.menu-name {
    font-size: var(--normal-font-size);
}

.menu-detail,
.menu-price {
    font-size: var(--small-font-size);
}

.menu-detail {
    margin-bottom: var(--mb-1);
}

.menu-button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 0.625rem 0.813rem;
    border-radius: 0.5rem 0 0.5rem 0;
}


/*========== mobile ==========*/

.mobile-data {
    text-align: center;
}

.mobile-description {
    margin-bottom: var(--mb-5);
}

.mobile-stores {
    margin-bottom: var(--mb-4);
}

.mobile-store {
    width: 120px;
    margin: 0 var(--mb-1);
}

.mobile-img {
    width: 230px;
    justify-self: center;
}


/*========== CONTACT ==========*/

.contact-container {
    text-align: center;
}

.contact-description {
    margin-bottom: var(--mb-3);
}


/*========== FOOTER ==========*/

.footer-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer-logo {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.footer-description {
    display: block;
    font-size: var(--small-font-size);
    margin: 0.25rem 0 var(--mb-3);
}

.footer-socials {
    display: flex;
    gap: var(--mb-2);
}

.footer-social {
    font-size: 1.5rem;
    color: var(--title-color);
}

.footer-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
}

.footer-link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

.footer-link:hover {
    color: var(--first-color);
}

.footer-copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}


/*========== MEDIA QUERIES ==========*/


/* Medium devices */

@media screen and (min-width: 576px) {
    .back-container,
    .mobile-container {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    .back-data,
    .back-initial,
    .mobile-data,
    .mobile-initial,
    .contact-container,
    .contact-initial {
        text-align: initial;
    }
    .blog-img {
        width: 380px;
    }
    .back-img,
    .mobile-img {
        width: 380px;
        order: -1;
    }
    .contact-container {
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }
    .contact-button {
        justify-self: center;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 8rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav-list {
        display: flex;
    }
    .nav-item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .blog-container {
        justify-items: center;
    }
    .blog-img {
        width: 480px;
    }
    .front-container,
    .menu-container {
        margin-top: var(--mb-6);
    }
    .menu-container {
        column-gap: 3rem;
    }
    .menu-content {
        padding: 1.5rem;
        text-align: center;
    }
    .menu-img {
        width: 150px;
    }
    .mobile-store {
        margin: 0 var(--mb-1) 0 0;
    }
}

@media screen and (min-width: 769px) {
    .nav-toggle {
        display: none;
    }
}


/* Large devices */

@media screen and (min-width: 821px) {
    .blog-container {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 960px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
    .blog-img {
        width: 500px;
    }
    .back-container,
    .mobile-container {
        column-gap: 7rem;
    }
}